###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> sou/sound ###
/sounds
/public/build/images/mCSB_buttons.*

###< sou/sound ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> phpStorm ###
/.idea/workspace.xml
###< ###