{% block player %}
    <div id="player">
        <!-- Top Info -->
        <div id="title">
            <span id="track"></span>
            <div id="timer">0:00</div>
            <div id="duration">0:00</div>
        </div>

        <!-- Controls -->
        <div class="controlsOuter">
            <div class="controlsInner">
                <div id="loading">Load</div>
                <div class="btn" id="playBtn">Play</div>
                <div class="btn" id="pauseBtn">Pause</div>
                <div class="btn" id="prevBtn">Prev</div>
                <div class="btn" id="nextBtn">Next</div>
            </div>
            <div class="btn" id="playlistBtn">PlaylistBtn</div>
            <div class="btn" id="volumeBtn">VolumeBtn</div>
        </div>

        <!-- Progress -->
        <div id="bar"></div>
        <div id="progress"></div>

        <!-- Playlist -->
        <div id="playlist">
            <div id="list"></div>
        </div>

        <!-- Volume -->
        <div id="volume" class="fadeout">
            <div id="barFull" class="bar">Vol+</div>
            <div id="barEmpty" class="bar">Vol+</div>
            <div id="sliderBtn"></div>
        </div>
    </div>
{% endblock %}