{% block sidebar %}

    <nav id="sidebar">

        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>
                SouSound
            </h3>
            <strong><img src="{{ asset('./favicons/favicon.ico') }}" style="max-height: 100%;max-width: 100%;"/></strong>
        </div>

        <ul class="list-unstyled components">

            {% if app.user != null %}

                <li class="active">
                    <a href="#musicSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        My Sounds
                    </a>
                    <ul class="collapse list-unstyled" id="musicSubmenu">
                        <li><a onclick="pageLoader('cqcq', ['pipi'])">By Artist</a></li>
                        <li><a href="#">By Tracks</a></li>
                        <li><a href="#">By Album</a></li>

                        <li><a href="#">By Kind</a></li>
                        <li><a href="#">By Label</a></li>
                        <li><a href="#">By Years</a></li>

                        <li><a href="#">By Playlist</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#uploadSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-link"></i>
                        Uploads Manager
                    </a>
                    <ul class="collapse list-unstyled" id="uploadSubmenu">
                        <li><a href="#">New Youtube dl</a></li>
                        <li><a href="#">New Soundcloud dl</a></li>
                        <li><a href="#">Manually upload</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        User Profile
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Edit info</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">LogOut</a></li>
                        <li><a href="{{ path('easyadmin') }}">Backlog</a></li>
                    </ul>
                </li>

            {% endif %}

        </ul>

    </nav>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        function pageLoader(route, arrayOptions) {
            alert('cliker for ' + route);
        }

    </script>

{% endblock %}