.head-navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: $shadow_x_axies $shadow_y_axies $shadow_navbar_height $shadow_scale $shadow_color;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
