// shadow value

$shadow_x_axies: 0px;
$shadow_sidebar_x_axies: 5px;
$shadow_y_axies: 5px;
$shadow_sidebar_y_axies: 0px;
$shadow_scale: 2px;
$shadow_sidebar_height: 16px;
$shadow_navbar_height: 4px;
$shadow_color: rgba(0, 0, 0, 0.1);